
<!DOCTYPE html>

<html>
<body>
	@* start body  *@
	<section>
		<center>
			<div class="mt-3 bg-primary text-white rounded-2">
				<h1>Welcome To Home Page</h1>
				<p>lorem ipsum..................</p>
			</div>
		</center>
	</section>
	@* End body  *@
</body>
</html>
